.nav__bar:hover {
    color: #0bd723;
    transition: all 0.4s ease;
}

.nav__bar:focus {
    color: #0bd723;
    text-decoration: underline;
}

@media only screen and (max-width: 991px) and (min-width: 767px) {
    .media-query {
        width: 18rem;
    }
}

@media only screen and (max-width: 767px) {
    .media-query {
        width: 38rem;
        justify-content: center;
    }
}